* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button, textarea {
    border: none;
    outline: none;
    background: transparent;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}