.footer {
    background: linear-gradient(180deg, #000 0%, rgba(105, 207, 23, 0.5) 100%);
    padding-top: 30px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 81px;
}

@media (width < 414px) {
    .footer__content {
        flex-direction: column;
        gap: 15px;
    }
}

.footer__number {
    color: #fff;
    font-family: "Roboto";
}

.footer__list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer__link {
    color: #fff;
    font-size: 20px;
    transition: 0.4s;

    &:hover {
        color: #1a3406
    }
}

.footer__PROWEB {
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #1a3406;
    padding: 19px 0;
    margin-top: 81px;

    span {
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: proweb 2s linear infinite alternate;
    }
}

@keyframes proweb {
    0% {
        color: rgb(90, 189, 90);
    }

    25% {
        color: rgb(0, 103, 0);
    }

    50% {
        color: rgb(39, 85, 39);
    }

    100% {
        color: rgb(109, 160, 109);
    }
}

