/* topper */

.topper .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (width < 414px) {
    .topper .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.topper {
    background: #000;
    padding: 18px 0;
}

.direction {
   color: #fff;
   display: flex;
   align-items: center;
   gap: 5px;
}

.direction__txt {
    font-size: 16px;
    color: #fff;
}

.topper__list {
    display: flex;
    gap: 20px;
}

@media (width < 576px) {
    .topper__list {
        display: none;
    }
}

.topper__link {
    color: #fff;
    font-size: 16px;
    transition: 0.4s;

    &:hover {
        color: rgba(105, 207, 23, 0.75);
    }
}

.click {
    opacity: 0;
}

.click__here {
    color: #ffffff;
    font-size: 20px;
    transition: 0.4s;

    &:hover {
        color: #417d11;
    }
}

@media (width < 576px) {
    .click {
        opacity: 1;
    }
}

/* @media (width < 576px) {
    .nav__topper {
        position: fixed;
        width: 50%;
        top: 0;
        left: 100%;
        height: 100dvh;
        background: rgb(65, 125, 17, 0.9);
        border-left: 2px solid #1d2913;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        z-index: 99;
    }
}

@media (width < 576px) {
    .click:hover ~ .nav__topper {
        left: 20%;
    }
} */

/* topper */

/* nav */

.nav {
    border: 1px solid rgba(125, 115, 115, 0.5);
    background: #000;
    padding: 6px 0;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

@media (width < 1024px) {
    .nav__list {
        display: none;
    }
}

@media (width < 1024px) {
    .nav__list {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
}

.nav__link {
    color: #fff;
    font-size: 18px;
    padding: 22px 10px;
    transition: 0.4s;
     
    &:hover {
        background: rgba(105, 207, 23, 0.75);
    }
}

/* nav */

/* header */

.header {
    background: url(../img/Header/food-burger-wallpaper-preview\ 1.jpg) no-repeat center center / cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 18px;
}

.header__title {
    font-weight: 900;
    font-size: clamp(28px, 6vw, 72px);
    color: #69cf17;
}

.header__subtitle {
    font-size: clamp(20px, 6vw, 36px);
    line-height: 47%;
    color: #69cf17;
}

.header__txt {
    color: #fff;
    font-size: clamp(10px, 6vw, 18px);
    line-height: 133%;
}

@media (width < 414px) {
    .header__txt {
        display: none;
    }
}

.header__txt2 {
    display: none;
}

@media (width < 414px) {
    .header__txt2 {
        display: flex;
        
    }
}

@media (width < 850px) {
    .header__txt {
        line-height: unset;
    }
}

.header__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

@media (width < 850px) {
    .header__last {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

.header__price {
    color: #fff;
    font-weight: 200;
    font-size: 50px;
    line-height: 50%;
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(18px);
    width: 285px;
    padding: 33px 0;
    text-align: center;
    transition: 0.4s;

    &:hover {
        backdrop-filter: none;
    }
}

@media (width < 460px) {
    .header__price {
       padding: 25px 0;
       width: 185px;
    }
}

.header__btn {
    background: linear-gradient(90deg, #69cf17 0%, #417d11 100%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    width: 255px;
    border-radius: 6px;
    transition: 0.4s;
}

@media (width < 460px) {
    .header__btn{
       width: 185px;
    }
}

.header__bottom {
    background: #000;
    padding: 25px;
}

/* header */

/* nav burger */

@media (width < 1024px) {
    .nav__burger {
        position: relative;
        display: flex;
        align-items: center;
        width: 60px;
        height: 70px;
        z-index: 100;
    }

    .nav__burger:hover ~ .nav__menu {
        left: 50%;
    }
    
    .nav__burger-line {
        position: relative;
        width: 35px;
        height: 2px;
        background: #417d11;
    
        &::before,
        &::after {
            content: "";
            height: inherit;
            background: inherit;
            position: absolute;
            left: 0;
        }
    
        &::before {
            top: -10px;
            width: 25px;
        }
    
        &::after {
            top: 10px;
            width: 45px;
        }
    }
}

@media (width < 540px) {
    .nav__burger:hover ~ .nav__menu {
        left: 20%;
    }
}

@media (width < 1024px) {
    .nav__menu {
        position: fixed;
        width: 50%;
        top: 0;
        left: 100%;
        height: 100dvh;
        background: rgb(65, 125, 17, 0.9);
        border-left: 2px solid #1d2913;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        z-index: 99;
    }
}

@media (width < 540px) {
    .nav__menu {
        width: 80%;
    }
}

/* nav burger and nav menu*/